* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  transition: 300ms ease-in-out;
  outline: none;
  border: none;
}

.App {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
